<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>ODIN</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="/css/estabelecimento.css" rel="stylesheet" />
</head>

<body>
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
		<div class="container px-4">
			<a class="navbar-brand" id="logo" href="/">ODIN</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
					class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link" href="#about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
					<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container px-4" id="estabelecimentoContainer">
		<div class="row gx-4 justify-content-center">
			<!-- Imagem do lado esquerdo -->
			<div class="col-lg-4">
				<img src="" id="imgEstabelecimento" alt="Imagem" class="img-fluid">
			</div>
			<!-- Texto descritivo do lado direito -->
			<div class="col-lg-6" id="sobre">
				<h2 id="titulo">Bar do juca</h2>
				<p id="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore,
					expedita quo
					laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel,
					labore ut velit dignissimos Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
					cum ipsum doloribus a consequuntur veritatis totam illo, repellat placeat quaerat est cumque
					reprehenderit non laboriosam veniam qui sapiente quisquam sequi.</p>
			</div>
		</div>
	</div>





	<div id="acessibilidade">

		<h2>Acessibilidade</h2>
		<section class="services" id="services">
			<div class="services-itens">
				<div class="service-item" id="estacionamento">
					<div class="service-item-image">
						<img src="/images/estacionamento.png" alt="">
					</div>
					<h3>Estacionamento</h3>

				</div>

				<div class="service-item" id="rampa">
					<div class="service-item-image">
						<img src="/images/rampa.png" alt="">
					</div>
					<h3>Rampa</h3>
				</div>

				<div class="service-item" id="banheiro">
					<div class="service-item-image">
						<img src="/images/banheiro.jpeg" alt="">
					</div>
					<h3>Banheiro</h3>
				</div>
			</div>
		</section>
	</div>


	<div id="linha-bolinha">
		<div>
			<div id="bolinha-red">
			</div>
			<small>Não possui</small>
		</div>

		<div>
			<div id="bolinha-green">
			</div>
			<small>Possui</small>
		</div>

	</div>
	

	

	<!--Comentarios -->
	<section class="content-item" id="comments">

		<div id="comentariosBanco">

			<div class="imgPerfil">
				<img class="img-responsive" id="imgUsr" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
			</div>
			<div id="caixaComentario">
				<textarea class="form-control" id="message" placeholder="Deixe sua opinião sobre o local"
					required=""></textarea>
				<button class="btn btn-normal pull-right" id="btnEnviar">Enviar</button>
			</div>
		</div>
		<h3 id="numeroComentarios"> 5 Comentarios</h3>
		
		<div id="comentarios">
			
		</div>


	</section>

	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-4">
			<p class="m-0 text-center text-white">Copyright &copy; ODIN Website 2023</p>
		</div>
	</footer>
	<script src="/js/scriptEstabelecimento.js"></script>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Formatar Horas/Data -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

</body>

</html>