<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>ODIN</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="css/home.css" rel="stylesheet" />
</head>

<body id="page-top">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark  fixed-top">
		<!-- Container wrapper -->
		<div class="container">
			<!-- Navbar brand -->
			<a class="navbar-brand" href="#">ODIN</a>

			<!-- Toggle button -->
			<button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
				data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Collapsible wrapper -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="d-flex align-items-center w-100 form-search">
					<div class="input-group">
						<input type="search" class="form-control" placeholder="Search" aria-label="Search" />
					</div>
					<a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
				</form>

				<ul class="navbar-nav ms-3">
					<li class="nav-item me-3">
						<a class="nav-link d-flex align-items-center" href="#!">Alguma coisa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link d-flex align-items-center me-3" href="#!">
							Indique um local
						</a>
					</li>
					<li class="nav-item" style="width: 65px;">
						<a class="nav-link d-flex align-items-center" id="login" href="#!">Login</a>
					</li>
				</ul>
			</div>

			<!-- Collapsible wrapper -->
		</div>
		<!-- Container wrapper -->
	</nav>

	<div id="titulo">
		<h2>Locais Mais Acessados</h2>
	</div>

	<!-- Services section-->
	<section id="services">
		<div class="container px-4" id="estabelecimentoContainer">
			<div class="row gx-4 justify-content-center">
				<!-- Imagem do lado esquerdo -->
				<div class="col-lg-4">
					<a href="" class="linkID"><img src="images/bar.jpg" alt="Imagem" class="img-fluid"></a>
				</div>
				<!-- Texto descritivo do lado direito -->
				<div class="col-lg-6" id="sobre">
					<h2>Bar do juca</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo
						laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel,
						labore ut velit dignissimos Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
						cum ipsum doloribus a consequuntur veritatis totam illo, repellat placeat quaerat est cumque
						reprehenderit non laboriosam veniam qui sapiente quisquam sequi.</p>
				</div>
			</div>
		</div>

		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<!-- Imagem do lado esquerdo -->
				<div class="col-lg-4">
					<a href="" class="linkID"><img src="images/bar.jpg" alt="Imagem" class="img-fluid"></a>
				</div>
				<!-- Texto descritivo do lado direito -->
				<div class="col-lg-6" id="sobre">
					<h2>Bar do juca</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo
						laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel,
						labore ut velit dignissimos Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
						cum ipsum doloribus a consequuntur veritatis totam illo, repellat placeat quaerat est cumque
						reprehenderit non laboriosam veniam qui sapiente quisquam sequi.</p>
				</div>
			</div>
		</div>


		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<!-- Imagem do lado esquerdo -->
				<div class="col-lg-4">
					<a href="" class="linkID"><img src="images/bar.jpg" alt="Imagem" class="img-fluid"></a>
				</div>
				<!-- Texto descritivo do lado direito -->
				<div class="col-lg-6" id="sobre">
					<h2>Bar do juca</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo
						laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel,
						labore ut velit dignissimos Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
						cum ipsum doloribus a consequuntur veritatis totam illo, repellat placeat quaerat est cumque
						reprehenderit non laboriosam veniam qui sapiente quisquam sequi.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-4">
			<p class="m-0 text-center text-white">Copyright &copy; ODIN Website 2023</p>
		</div>
	</footer>
	<script src="js/scriptHome.js"></script>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
</body>

</html>